.DS_Store
*.pdf
*.hack
tools/
!documents/*.pdf
projects/**/*.out
projects/**/*.cmp
projects/**/*.tst
projects/**/*.vm
projects/**/*.html
projects/06/**/*.asm
projects/07/**/*.asm
!projects/07/vm_command_logic.asm
projects/08/**/*.asm
!projects/08/vm_asm_logic.asm
projects/09/**/
!projects/09/Snake
projects/10/**/*.jack
projects/10/**/*.xml
projects/11/
projects/12/
projects/13/
notes/template.md
__pycache__
toolchain/
.idea
dec2bin2hex.txt